
.content {
    min-height: calc(100vh - 120px);
}
.selected-inventory-holder {
    opacity: 0;
}
.selected-inventory-holder .confirm-inventory i.bi {
    font-size: 30px;
}
.selected-inventory-holder .confirm-inventory i.price {
    font-size: 14px;
}

.inventory-item {
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}
.inventory-item:hover:not(.listed) {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.inventory-row .inventory-item .card:hover {
    background-color: aliceblue;
}
.inventory-row .inventory-item.selected .card {
    background-color: #c5b3e6;
    /* background-color: #cff4fc; */
}
.inventory-row .inventory-item.listed .card {
    background-color: lightgray;
}
.inventory-row .inventory-item.listed.on-sale .card {
    background-color: lightgray;
}
.card-link-wide {
    margin-bottom: 10px;
}
.card-link-wide:last-child {
    margin-bottom: 0;
}

.inventory-item {
    position: relative;
}
.inventory-item .interaction-button,
.selected-inventory-item .interaction-button {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  visibility: hidden;
  pointer-events: none;
}
.inventory-item .faction-icon {
    position: absolute;
    top: 0px;
    left: 0px;
}
.selected-inventory-item .interaction-button {
    top: inherit;
}
.inventory-item:hover:not(.listed) .interaction-button,
.selected-inventory-item:hover:not(.listed) .interaction-button {
  visibility: visible;
}
.inventory-item .progress,
.inventory-item .progress-stacked {
    border-radius: 0;
    height: 10px;
}
.inventory-item .progress.short {
    height: 5px;
}

.payment-grid .gridjs-tr th,
.payment-grid .gridjs-tr td,
.payment-complete-grid .gridjs-tr th,
.payment-complete-grid .gridjs-tr td,
.journal-grid .gridjs-tr th,
.journal-grid .gridjs-tr td {
    padding: 2px;
}

.payment-complete-grid .gridjs-tr th:nth-child(3),
.payment-complete-grid .gridjs-tr td:nth-child(3),
.payment-complete-grid .gridjs-tr th:nth-child(4),
.payment-complete-grid .gridjs-tr td:nth-child(4) {
    background-color: #cfe2ff;
}

.payment-complete-grid .gridjs-tr th:nth-child(7),
.payment-complete-grid .gridjs-tr td:nth-child(7) {
    background-color: #d1e7dd;
}
.selected-inventory-item-holder {
    max-height: 160px;
    overflow-y: auto;
}

@keyframes progress-bar-stripes-reverse {
    0% {
        background-position-x: -1rem;
    }
}
.progress-bar-animated-reverse {
    animation: 1s linear infinite progress-bar-stripes-reverse;
}
  

.search-attr-holder {
    position:relative;
    overflow: hidden;
    height: 22px;
}

.search-attr-holder .form-range::-webkit-slider-runnable-track {
    background-color: transparent !important;
}
.search-attr-holder .form-range::-webkit-slider-thumb{
/* .search-attr-holder .form-range::-moz-range-thumb { */
    background-color: #6776f4 !important;
}
.search-attr-holder .form-range.reverse {
    direction: rtl;
    /* transform: scaleX(-1); */
}
.search-attr-holder .bg-track {
    height:8px;
    position:absolute;
    top:8px;
    width:100%;
    z-index:2;
    background-color: var(--bs-secondary-bg);
}
.search-attr-holder .bg-selected {
    height:8px;
    position:absolute;
    top:8px;
    z-index:3;
    /* width: 100%; */
    width:40%;
    left: 30%;
    background-color: #0dcaf0;
}
.search-attr-holder .search-attr {
    z-index:3;
    position:inherit;
}

/* General styling */

.text-bg-warning-subtle {
    color: #000!important;
    background-color: #fff3cd !important;
}
.text-bg-info-subtle {
    color: #000!important;
    background-color: #cff4fc !important;
}
.text-bg-danger-subtle {
    color: #000!important;
    background-color: #f8d7da !important;
}
.text-bg-success-subtle {
    color: #000!important;
    background-color: #cff4fc !important;
}
.btn-info,
.btn-info:hover {
    color: #fff;
}
.back-to-top {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.visible {
    opacity: 1 !important;
}
  
.hidden {
    opacity: 0 !important;
}
.text-primary,
.text-purple {
    color: #4154f1 !important;
}
.card-title {
    color: #4154f1 !important;
}
.btn-primary {
    background-color: #4154f1 !important;
    border-color: #4154f1 !important;
}
.bg-primary {
    background-color: #4154f1 !important;
}
.btn-primary:hover {
    background-color: #6776f4 !important;
    border-color: #6776f4 !important;
}
.logo span {
    color: #444444;
}
.bg-primary-subtle {
    background-color: #c5b3e6 !important;
}
/* TODO - Change all of the primary links and buttons to the purple colour */