
.content {
    min-height: calc(100vh - 120px);
}
.selected-inventory-holder {
    opacity: 0;
}
.selected-inventory-holder .confirm-inventory i.bi {
    font-size: 30px;
}
.selected-inventory-holder .confirm-inventory i.price {
    font-size: 14px;
}

.inventory-item {
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}
.inventory-item:hover:not(.listed) {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.inventory-item .card:hover {
    background-color: aliceblue;
}
.inventory-item.selected .card {
    background-color: lightblue;
}
.inventory-item.listed .card {
    background-color: lightgray;
}
.inventory-item.listed.on-sale .card {
    background-color: lightgreen;
}
.selected-inventory-item {
    position: relative;
}
.inventory-item .interaction-button,
.selected-inventory-item .interaction-button {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  visibility: hidden;
  pointer-events: none;
}
.selected-inventory-item .interaction-button {
    top: inherit;
}
.inventory-item:hover:not(.listed) .interaction-button,
.selected-inventory-item:hover:not(.listed) .interaction-button {
  visibility: visible;
}
.inventory-item .progress,
.inventory-item .progress-stacked {
    border-radius: 0;
    height: 10px;
}

.payment-grid .gridjs-tr th,
.payment-grid .gridjs-tr td {
    padding: 2px;
}